body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 100vh;
}
*{
    font-size: 17px;
}

.grid-container {
    padding: 8px;
    align-items: center;
    align-content: center;
}
.grid-item {
    font-variant: small-caps;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    align-content: center;
    /* color:whitesmoke; */
}
.cbox{
    display:flex;
    align-items: center;
    align-content: center;
}
body {
    background-color: rgb(115, 109, 109);
    /* background: linear-gradient(from red, black, green) ; */
}   
.text_input{
    border-color: rgb(171, 30, 30);
    background:None;
    border-radius: 10px;
}
button{
    background: linear-gradient(-45deg, #52eeca, #06eeb8,#23d567 );
}