@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   font-family: "Jost", sans-serif;
  height: 100vh;
  background-color: black;
}


#Container {
  display: grid;
  place-items: center;
  height: 100%;
  width:400px;
  background-color: black;
}

#rays {
  z-index: 2;
  position: relative;
  bottom: -1.5em;
  animation: rays 2s ease-in-out infinite;
}

.form {
  height:400px;
  width:90%;
  position: relative;
  top: 5em;
  padding: 10% 8%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  border-radius: 0.5rem;
  /* border: 2px solid #fff; */
  background: rgba(0, 255, 238, 0.237);
  /*box-shadow: 0px 0px 64px 0px #82e1ff inset, 0px 0px 16px #a8fffaa6;*/
  backdrop-filter: blur(3.5px);
  gap: 1em;
  animation: float 2s ease-in-out infinite;
}

#login-lable {
  text-align: center;
  color: white;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 8px;
 /* text-shadow: 0px 0px 16px rgb(243, 243, 243);*/
}

.form-content {
  height: 3em;
  padding: 1px 8px;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 4px;
  border:none;
  border-bottom: 3px solid #fff;
  background: rgba(139, 255, 247, 0.125);
 /* box-shadow: 0px 0px 1px 3px #9ee5e3 inset, 0px 4px 4px 0px #181a6040;*/
  text-shadow: 0px 1px 4px rgb(243, 243, 243);
}

.form-content:focus-visible {
  outline: none;
  text-decoration: none;
  background: rgba(139, 189, 255, 0.59);
  box-shadow: 0px 0px 1px 4px #9ee5e3;
}

.form-content:hover {
  background: rgba(139, 189, 255, 0.59);
}

::placeholder {
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0px 1px 5px rgb(66, 66, 66);
}

.form button {
text-transform:uppercase;
  cursor: pointer;
  height: 3rem;
  padding: 0%;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight:600;
  letter-spacing: 0.3rem;
  border:none;
  border-radius: 4px;
  background:rgba(54, 254, 77, 0.51);
}

.form button:hover {
  border: solid 2px rgba(255, 255, 255, 0.526);
}

@keyframes float {
  0% {
    position: relative;
  }

  50% {
    top: 50px;
  }

  100% {
    position: relative;
  }
}

@keyframes rays {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@media (max-width: 768px)
{
 #Container: 300px;
}


.gbtn button{
width:250px;
padding:12px;
background:green;}





/*

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  min-height: 280px;
  min-width: 300px;
  background-color: white;
  overflow: hidden;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 90%;
  margin-bottom: -10%;
}

.google {
  margin-bottom: 10%;
}
.input {
  background-color: #eee;
  border: none;
  width: inherit;
  border-left: #dfb7e3 solid 1px;
  padding: 10px;
  border-bottom: #dfb7e3 solid 1px;
}

.top {
  background: linear-gradient(to bottom, #000000, #02a100);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-radius: 0 0 75px 75px;
}

.top:hover {
  transition: 0.4s;
  border-radius: 0;
  width: 100%;
}

.top:not(:hover) {
  transition: 0.4s;
  border-radius: 0 0 75px 75px;
  width: 97%;
}

.top h1 {
  color: white;
  font-size: 30px;
}

.separator {
  display: flex;
  justify-content: center;
  padding: 10px;
}

i {
  color: #669FAB;
  font-size: 20px;
  vertical-align: center;
}



.separator h5 {
  text-align: center;
  color: grey;
  font-size: small;
}
.login_option {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.account {
  border: solid 1px #ccc;
  justify-items: center;
  background-color: #0a6ebd;
  padding: 10px 111px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.account:hover {
  border: solid 1px #dfb7e3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.4s;
}

.account:not(:hover) {
  transition: 0.4s;
  border: solid 1px #ccc;
  box-shadow: none;
}

button {
  padding: 10px 30px 10px 30px;
  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: #ccc;
  transition: 0.4s;
  border: solid 1px #dfb7e3;
}

button:not(:hover) {
  transition: 0.4s;
  background-color: #0a6ebd;
}

.signup {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

@media screen and (max-width: 338px) {
  #container {
    min-width: 250px;
  }
  .top:hover {
    border-radius: 0;
    border-radius: 0 0 75px 75px;
    width: 97%;
  }
  #container2 {
    min-width: 250px;
  }
  button:hover {
    background-color: #eee;
    transition: none;
  }
  .account:hover {
    box-shadow: none;
    transition: none;
    border: solid 1px #ccc;
  }
} */


