body {
    font-family: Arial, sans-serif;
    background-color: #202020;
    color: #ffffff;
}

.header {
    text-align: center;
    padding: 20px;
}

.details {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

h2, h3 {
    color: #ffffff;
}


@media (max-width: 768px)
{
 .details
 {
  width:300px;
  }
}