<!DOCTYPE html>
<html>
<head>
    <title>Passkey Form</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../static/css/checkin_out.css" />
    
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/master_checkin.css') }}" /> -->
</head>
<body>
    <form method="post" action="/checkin_out/{{ UID }}" >
        <input type="password" class="input" placeholder="Password" required>
        <div class="line-box">
            <div class="line"></div>
        </div>
        <br/><br/><br/><br/><br/>
    <script src="../static/js/checkin_out.js"></script>
    <button type="submit" onsubmit="verifyPassword()">Submit</button>
    </form>
</body>
</html>
