<!DOCTYPE html>
<html>
<head>
    <title>Passkey Form</title>
</head>
<body>
    <h1>Passkey Form</h1>
    <h2>Welcome {{ UID }}
    <form method="post" action="/checkin_out">
        <label for="passkey">Passkey:</label>
        <input type="password" id="passkey" name="passkey" required>
        <br><br>
        <input type="radio" id="checkin" name="action" value="checkin" required>
        <label for="checkin">Check-in</label>
        <br>
        <input type="radio" id="checkout" name="action" value="checkout" required>
        <label for="checkout">Check-out</label>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
