<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
          <div class="navbar-translate">
            <div class="navbar-brand">
              <H2>CURRENT STATUS</H2>
            </div>
          </div>
          <!-- <form action="/logout" method="GET">
            <button type="submit" class="btn btn-danger btn-raised btn-lg">Log Out</button>
          </form> -->
        </div>
      </nav>
      <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/img/desk_chair1.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">{{ team_name }}'s Dashboard</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="main main-raised">
        <div class="container">
          <div class="card card-plain">
            <div class="card-body">
              <br />
              
              <div class="table-responsive">
<!--                <h3 class="title">{{ member_ids[i] }} {{member_names[i]}}</h3>-->
                <h4 class="display-4"> {{ status_list[i] }}</h4>
                <table class="table table-shopping table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">MEMBER ID</th>
                      <th class="text-center">MEMBER NAME</th>
                      <th class="text-center">CURRENT STATUS</th>
                      <th class="text-left">CHECKIN</th>
                      <th class="text-left">CHECKOUT</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in range(member_ids|length): %}
                      <tr>
                        <td class="text-center" >{{ member_ids[i] }} </td>
                        <td class="text-center">{{ member_names[i] }} </td>
                        <td class="text-center">{{ status_list[i] }}</td>
                        {% for time in all_timings[i]['IN'] %}
                          <td class="text-left">{{ time }}</td>
                        {% endfor %}

                        {% for time in all_timings[i]['OUT'] %}
                          <td class="text-left">{{ time }}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                    </tbody>

                  </table>
                </div>




    
            </div>
          </div>
        </div>
      </div>
</body>
</html>