<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="../static/css/master_checkin.css">
        <title>Admin Registration - Hackathon</title>
    </head>
    <body>
        <div class="header">
            <h1> {{ Details.teamName }} </h1>
            <h6> {{ Details.projectTracks }} </h6>
        </div>
        <form method="POST" action="/register/{{ Details.UID }}">
            <div class="input-group">
                <label for="teamCode">Team Code: </label>
                <input type="text" id="teamCode" name="teamCode" value="{{ Details.teamCode }}" placeholder="Team Code">
            </div>
            <div class="input-group">
                <label for="UID">UID: </label>
                <input type="text" id="UID" name="UID" value="{{ Details.UID }}" placeholder="UID">
            </div>
            <div class="input-group">
                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName" value="{{ Details.firstName }}" placeholder="First Name">
            </div>
            <div class="input-group">
                <label for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName" value="{{ Details.lastName }}" placeholder="Last Name">
            </div>
            <div class="input-group">
                <label for="gender">Gender: </label>
                <input type="text" id="gender" name="gender" value="{{ Details.gender }}" placeholder="Gender">
            </div>
            <div class="input-group">
                <label for="college">College: </label>
                <input type="text" id="college" name="college" value="{{ Details.college }}" placeholder="College">
            </div>
            <div class="input-group">
                <label for="phNo">Phone Number: </label>
                <input type="number" id="phNo" name="phNo" value="{{ Details.phNo }}" placeholder="Phone Number">
            </div>
            <div class="input-group">
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" value="{{ Details.email }}" placeholder="Email">
            </div>
            <div class="input-group">
                <label for="teamName">Team Name: </label>
                <input type="text" id="teamName" name="teamName" value="{{ Details.teamName }}" placeholder="Team Name">
            </div>
            <div class="input-group">
                <label for="projectTracks">Project Tracks: </label>
                <input type="text" id="projectTracks" name="projectTracks" value="{{ Details.projectTracks }}" placeholder="Project Tracks">
            </div>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
